<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hw-5-3</title>
</head>

<body style="margin: 0 auto; width: 1280px;">

{% if not userId %}
  <a href="./registration.php" style="padding: 10px; background-color: lightgray;">
    Войти
  </a>

{% else %}
  <h1>Список дел:</h1>
  <div style="display: flex; justify-content: space-around;">

    <form method="POST">
      {% if isEdit %}
        <input 
          type="text" 
          name="description" 
          placeholder="Описание задачи"
          value="{{editedDescription}}"
        >
        <input type="hidden" name="id" value="{{editedId}}">
        <input type="submit" value="Сохранить">
        
      {% else %}

          <input type="text" name="new-task" placeholder="Описание задачи">
          <input type="submit" value="Добавить">
    
      {% endif %}
    </form>


    <form method="POST">
      Сортировать по: 
      <select name="sort-by">

        <option value="date_added">
          Дате добавления
        </option>
        <option value="is_done">
          Статусу
        </option>
        <option value="description">
          Описанию
        </option>

      </select>
      <input type="submit" value="Отсортировать">
    </form>
  </div>
  
  <table style="width: 100%">
    <thead style="background-color: #bfbfbf;">
      <tr>
        <td>Описание задачи</td>
        <td>Дата добпаления</td>
        <td>Статус</td>
        <td></td>
        <td>Автор</td>
        <td>Ответственный</td>
        <td>Делегировать задачу</td>
      </tr>
    </thead>

    <tbody>
      {% for task in taskData %}
        <tr>

          <td>{{ task.description }}</td>
          <td>{{ task.date_added }}</td>
          <td>{{ task.is_done ? 'Выполнено' : 'Не выполнено' }}</td>
          <td>
            <a href="?id={{ task.id }}&action=change">Изменить</a> 
            <a href="?id={{ task.id }}&action=done">Выполнить</a>
            <a href="?id={{ task.id }}&action=delete">Удалить</a>
          </td>
          <td>{{ task.author }}</td>
          <td>{{ task.assigned_user }}</td>
          <td>
            <form method="POST">
              <input name="task_id" type="hidden" value="{{ task.id }}">
              <select name="assigned_user">
                {{ usersDataOptionsHtml|raw }}
              </select>
              <input type="submit" value="Переложить ответственность">
            </form>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Так же, посмотрите, чего Вам поставили в задачи:</p>


  {% if assignedData %}
    <table style="width: 100%">
      <thead style="background-color: #bfbfbf;">
        <tr>
          <td>Описание задачи</td>
          <td>Дата добпаления</td>
          <td>Статус</td>
          <td></td>
          <td>Автор</td>
          <td>Ответственный</td>
        </tr>
      </thead>

      <tbody>
        {% for task in assignedData %}
          <tr>

            <td>{{ task.description }}</td>
            <td>{{ task.date_added }}</td>
            <td>{{ task.is_done ? 'Выполнено' : 'Не выполнено' }}</td>
            <td>
              <a href="?id={{ task.id }}&action=change">Изменить</a> 
              <a href="?id={{ task.id }}&action=done">Выполнить</a>
              <a href="?id={{ task.id }}&action=delete">Удалить</a>
            </td>
            <td>{{ task.author }}</td>
            <td>{{ task.assigned_user }}</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <p><a href="?action=exit">Выход</a></p>

{% endif %}
